html {
  font-size: 10px;
}
body {
  color: #202242;
  font-family: 'Raleway', sans-serif;
}
/*Mixins*/
.reg {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
.semi {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.RMed {
  font-family: 'Rockwell';
  font-weight: medium;
}
.RB {
  font-family: 'Rockwell';
  font-weight: bold;
}
/*Color*/
.page {
  margin: 0;
}
.row {
  margin: 0;
  padding: 0;
}
.header {
  margin: 0;
  width: 100%;
  height: auto;
  background: url(../img/screen1.png) no-repeat center center;
  background-size: cover;
}
.header .head-block {
  height: 13rem;
  background-color: #fff;
}
.header .head-block ul {
  border-right: solid 1px rgba(235, 235, 235, 0.4);
  height: 100%;
  line-height: 13rem;
  text-align: center;
  margin-top: 0;
}
.header .head-block ul li {
  display: inline-block;
  margin-right: 2rem;
}
.header .head-block ul li a {
  text-decoration: none;
  color: #202242;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}
.header .head-block ul li a:active {
  color: #ffe13e;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.header .head-block .logo {
  padding-left: 28rem;
  padding-right: 0;
}
.header .head-block .logo img {
  vertical-align: middle;
}
.header .head-block .logo span {
  vertical-align: middle;
  font-family: 'Rockwell';
  font-weight: medium;
  font-size: 2.5rem;
  line-height: 13rem;
}
.header .head-block .help {
  padding-left: 5rem;
  padding-top: 1.5rem;
}
.header .head-block .help-text {
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
.header .head-block .help a {
  display: inline-block;
  background-color: #ffe13e;
  height: 3rem;
  width: 9rem;
  line-height: 3rem;
  padding-left: 1.4rem;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #202242;
  margin-right: 3rem;
}
.header .head-block .help span {
  padding-left: 3rem;
  border-left: solid 2px #ebebeb;
  font-family: 'Rockwell';
  font-weight: medium;
  font-size: 2rem;
}
.header .main-block {
  background-color: rgba(0, 0, 0, 0.3);
  height: auto;
  padding: 0px;
  margin: 0px;
  color: #fff;
  padding-top: 4rem;
  text-align: center;
  padding-bottom: 10rem;
}
.header .main-block h1 {
  font-size: 4.8rem;
}
.header .main-block p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}
.header .main-block img {
  margin-top: 5rem;
  display: inline-block;
  margin-bottom: 8rem;
}
.header .main-block input {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 2rem;
  padding-left: 3rem;
  height: 5rem;
  width: 24rem;
}
.header .main-block select {
  vertical-align: middle;
  font-size: 1.6rem;
  padding-left: 2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background-color: #ffe13e;
  vertical-align: top;
  color: #000;
  height: 5rem;
  width: 9rem;
}
.header .main-block option {
  background-color: #fff;
}
.header .main-block button {
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  background-color: #ffe13e;
  vertical-align: top;
  height: 5rem;
  width: 15rem;
}
.header .main-block .action {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
}
.information {
  position: static;
  margin: 0px;
  height: auto;
}
.information .host {
  color: #fff;
  text-align: center;
  padding: 0px;
  background-color: #202242;
  padding-top: 9rem;
}
.information .host h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}
.information .host p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding-left: 9rem;
  padding-right: 9rem;
  font-size: 2rem;
}
.information .host .more {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: inline-block;
  line-height: 6rem;
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: none;
  height: 6rem;
  width: 16rem;
  border: solid 2px #fff;
}
.information .com {
  padding-top: .2rem;
  position: static;
  height: auto;
  padding-bottom: 3rem;
  background-color: #ffe13e;
  text-align: center;
  padding: 0px;
  color: #fff;
}
.information .com h2 {
  padding-top: 8rem;
  margin: 0;
  color: #202242;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 10rem;
}
.information .com h3 {
  background-color: #ffe13e;
  margin-top: 8.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}
.information .com p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding-left: 9rem;
  padding-right: 9rem;
  font-size: 2rem;
}
.information .com .more {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: inline-block;
  line-height: 6rem;
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  background: none;
  height: 6rem;
  width: 16rem;
  border: solid 2px #fff;
}
.features {
  padding-bottom: 10rem;
  position: static;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background: url(../img/bkgrnd.jpg) no-repeat center center;
  background-size: cover;
  height: auto;
}
.features h2 {
  margin: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
}
.features p {
  margin-top: -3rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.7rem;
}
.features .feature {
  height: 31rem;
  text-align: center;
  margin-top: 2rem;
}
.features .feature .image {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 14rem;
  width: 14rem;
  background: url(../img/SEO.png) no-repeat center center;
  background-size: cover;
  margin-bottom: 4rem;
}
.features .feature .divider {
  margin-bottom: 1rem;
  display: inline-block;
  height: 3px;
  width: 7rem;
  background-color: #adadad;
}
.features .feature h3 {
  text-align: center;
  margin-top: -0.5rem;
  color: #ffe13e;
  font-family: 'Rockwell';
  font-weight: medium;
  font-size: 2.5rem;
}
.features .feature p {
  margin-top: 1.6rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}
.features .feature .cloud {
  background: url(../img/cloud.png) no-repeat center center;
  background-size: cover;
}
.features .feature .database {
  background: url(../img/base.png) no-repeat center center;
  background-size: cover;
}
.features .feature .monitoring {
  background: url(../img/moni.png) no-repeat center center;
  background-size: cover;
}
.ftrs {
  margin-top: 8rem;
}
.clients {
  text-align: left;
  height: auto;
  margin: 0;
  padding: 0;
  padding-left: 16rem;
}
.clients .client-descr h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 4rem;
}
.clients .client-descr p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #adadad;
  font-size: 1.6rem;
  line-height: 1.4;
}
.clients .companies {
  text-align: center;
  padding-left: 15rem;
}
.clients .companies .company {
  display: inline-block;
  margin-top: 2rem;
  height: 15rem;
  width: 19rem;
  background: url(../img/tree.jpg) no-repeat center center;
  background-size: cover;
  background-color: #fcfcfc;
  margin-left: 4rem;
}
.clients .companies .xco {
  background: url(../img/xco.jpg) no-repeat center center;
  background-size: cover;
}
.clients .companies .co {
  background: url(../img/co.jpg) no-repeat center center;
  background-size: cover;
}
.clients .companies .fishco {
  background: url(../img/fishco.jpg) no-repeat center center;
  background-size: cover;
}
.clients .client-block {
  margin-top: 3rem;
  height: auto;
  width: 100%;
  padding-left: 0;
}
.clients .client-block .client {
  margin-right: 10rem;
  background-color: #f5f3f3;
  padding: 3rem;
  font-style: italic;
  color: #696969;
  font-family: 'Rockwell';
  font-weight: medium;
  font-size: 1.6rem;
}
.clients .client-block .client .cliett__name {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: black;
  font-style: normal;
  font-size: 1.7rem;
}
.clients .client-block .client .client__photo {
  background: url(../img/user-photo.jpg) no-repeat center center;
  background-size: 75%;
  position: absolute;
  right: 2rem;
  bottom: -4rem;
  height: 10rem;
  width: 10rem;
  background-color: #aeaeae;
  border-radius: 50%;
}
/**/
@media screen and (max-width: 470px) {
  .clients {
    padding-left: 0px;
  }
  .clients h2 {
    text-align: center;
  }
  .clients .companies {
    padding-left: 0px;
  }
}
